# Recommandation;-

2 types->

1>content based Recommandation => recommand item based on privious experiances
_______________________________
                                  like;-> at netflix recommand similar type of movie based on your watching experiance.(sigle user)

2>collabarative filter bases  => recommand item based privous experiance(record) based collabaration
_____________________________    like;- amazon recommand some collabarative item based on record like if we by milk it suggest bread to                                                          purches(multiple user)

### 1>content based Recommandation =>

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("ML_Dataset/movies_content.csv")
df.head()

,movie_id,description,language,released,rating,writer,director,cast,genre,name
0,tt5286444,Neerja is the story of the courageous Neerja B...,"[ ""Hindi"" ]",2016-02-19T00:00:00.000Z,7.9,"[ ""Saiwyn Quadras"", ""Sanyukta Shaikh Chawla"" ]","[ ""Ram Madhvani"" ]","[ ""Sonam Kapoor"", ""Shabana Azmi"", ""Yogendra Ti...","[ ""Biography"", ""Drama"", ""Thriller"" ]",Neerja
1,tt4434004,A story that revolves around drug abuse in the...,"[ ""Hindi"", ""Panjabi"" ]",2016-06-17T00:00:00.000Z,7.9,"[ ""Sudip Sharma"", ""Abhishek Chaubey"" ]","[ ""Abhishek Chaubey"" ]","[ ""Alia Bhatt"", ""Shahid Kapoor"", ""Diljit Dosan...","[ ""Crime"", ""Drama"", ""Thriller"" ]",Udta Punjab
2,tt0248126,Yashvardhan Raichand lives a very wealthy life...,"[ ""Hindi"", ""English"", ""Urdu"" ]",2001-12-14T00:00:00.000Z,7.5,"[ ""Karan Johar"", ""Sheena Parikh"" ]","[ ""Karan Johar"" ]","[ ""Amitabh Bachchan"", ""Jaya Bhaduri"", ""Shah Ru...","[ ""Drama"", ""Musical"", ""Romance"" ]",Kabhi Khushi Kabhie Gham...
3,tt0347304,"Naina, an introverted, perpetually depressed g...","[ ""Hindi"", ""Urdu"", ""Gujarati"", ""Panjabi"" ]",2003-11-28T00:00:00.000Z,8.0,"[ ""Niranjan Iyengar"", ""Karan Johar"" ]","[ ""Nikkhil Advani"" ]","[ ""Shah Rukh Khan"", ""Preity Zinta"", ""Saif Ali ...","[ ""Comedy"", ""Drama"", ""Romance"" ]",Kal Ho Naa Ho
4,tt3043252,'Parched' is a story about women set in the he...,"[ ""Hindi"", ""English"" ]",2016-06-17T00:00:00.000Z,7.6,"[ ""Supratik Sen"", ""Leena Yadav"" ]","[ ""Leena Yadav"" ]","[ ""Tannishtha Chatterjee"", ""Radhika Apte"", ""Le...","[ ""Drama"" ]",Parched

In [6]:
df=df[['name','description']]

df

,name,description
0,Neerja,Neerja is the story of the courageous Neerja B...
1,Udta Punjab,A story that revolves around drug abuse in the...
2,Kabhi Khushi Kabhie Gham...,Yashvardhan Raichand lives a very wealthy life...
3,Kal Ho Naa Ho,"Naina, an introverted, perpetually depressed g..."
4,Parched,'Parched' is a story about women set in the he...
...,...,...
2845,Ranadheera,NaN
2846,Myna,NaN
2847,Chaddi Dosth,The plot is simple. Ranganna (Rangayana Raghu)...
2848,Shravani Subramanya,NaN
2849,Dharmasere,NaN

In [7]:
#first drop NaN from dataframe
df.dropna(inplace=True)   
df

,name,description
0,Neerja,Neerja is the story of the courageous Neerja B...
1,Udta Punjab,A story that revolves around drug abuse in the...
2,Kabhi Khushi Kabhie Gham...,Yashvardhan Raichand lives a very wealthy life...
3,Kal Ho Naa Ho,"Naina, an introverted, perpetually depressed g..."
4,Parched,'Parched' is a story about women set in the he...
...,...,...
2838,Run Antony,Antony is depressed and wants to commit suicid...
2841,Jolly Days,"A bubbly tale, the story is about four pairs o..."
2842,The Great Story of Sodabuddi,"The film tells the story of Sodabuddi, who spe..."
2844,Vamshi,"Vamshi, under the eye of his mother is living ..."
2847,Chaddi Dosth,The plot is simple. Ranganna (Rangayana Raghu)...

In [8]:
#drop duplicate or similary row
df.drop_duplicates(inplace=True)

df

,name,description
0,Neerja,Neerja is the story of the courageous Neerja B...
1,Udta Punjab,A story that revolves around drug abuse in the...
2,Kabhi Khushi Kabhie Gham...,Yashvardhan Raichand lives a very wealthy life...
3,Kal Ho Naa Ho,"Naina, an introverted, perpetually depressed g..."
4,Parched,'Parched' is a story about women set in the he...
...,...,...
2838,Run Antony,Antony is depressed and wants to commit suicid...
2841,Jolly Days,"A bubbly tale, the story is about four pairs o..."
2842,The Great Story of Sodabuddi,"The film tells the story of Sodabuddi, who spe..."
2844,Vamshi,"Vamshi, under the eye of his mother is living ..."
2847,Chaddi Dosth,The plot is simple. Ranganna (Rangayana Raghu)...

In [9]:
#reset index  and create old index as column
df.reset_index(drop=True,inplace=True) #drop =True ;remove old index

In [10]:
df

,name,description
0,Neerja,Neerja is the story of the courageous Neerja B...
1,Udta Punjab,A story that revolves around drug abuse in the...
2,Kabhi Khushi Kabhie Gham...,Yashvardhan Raichand lives a very wealthy life...
3,Kal Ho Naa Ho,"Naina, an introverted, perpetually depressed g..."
4,Parched,'Parched' is a story about women set in the he...
...,...,...
1746,Run Antony,Antony is depressed and wants to commit suicid...
1747,Jolly Days,"A bubbly tale, the story is about four pairs o..."
1748,The Great Story of Sodabuddi,"The film tells the story of Sodabuddi, who spe..."
1749,Vamshi,"Vamshi, under the eye of his mother is living ..."
1750,Chaddi Dosth,The plot is simple. Ranganna (Rangayana Raghu)...

In [35]:
#convert name into lower case;->
df.name=df.name.map(str.lower)
df

,name,description
0,neerja,Neerja is the story of the courageous Neerja B...
1,udta punjab,A story that revolves around drug abuse in the...
2,kabhi khushi kabhie gham...,Yashvardhan Raichand lives a very wealthy life...
3,kal ho naa ho,"Naina, an introverted, perpetually depressed g..."
4,parched,'Parched' is a story about women set in the he...
...,...,...
1746,run antony,Antony is depressed and wants to commit suicid...
1747,jolly days,"A bubbly tale, the story is about four pairs o..."
1748,the great story of sodabuddi,"The film tells the story of Sodabuddi, who spe..."
1749,vamshi,"Vamshi, under the eye of his mother is living ..."
1750,chaddi dosth,The plot is simple. Ranganna (Rangayana Raghu)...

In [36]:
# vectorize the above data frame&text preprocessing on 'description' column
from sklearn.feature_extraction.text import TfidfVectorizer

tv=TfidfVectorizer(stop_words="english",lowercase=True)   #stop_words :=>remove stopword
                                                           #lowercase=> convert text(for description) into lower


vectors=tv.fit_transform(df.description).toarray()    #vectorize description as dence matrix

In [12]:
#now create model 
#NearestNeighbors;is algos in neighbors module it is use to suggest item best on experiance based item.

from sklearn.neighbors import NearestNeighbors

In [13]:
model=NearestNeighbors(metric="cosine")   #metrics ="cosine" =>internally work on cosine distance formula to find
model.fit(vectors)

NearestNeighbors(metric='cosine')

In [15]:
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [16]:
vectors[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [25]:
#distances,indexes=model.kneighbors(movies,n_neighbor)   :suggest similar type of movies(items) base on  given movies

model.kneighbors([vectors[0]],n_neighbors=5)

(array([[0.        , 0.85030796, 0.87983038, 0.92082846, 0.93608081]]),
 array([[   0, 1327,  107, 1563,  560]], dtype=int64))

=>[[distance][index]]

In [26]:
#or-----
distances,indexes=model.kneighbors([vectors[0]],n_neighbors=5)       #,n_neighbors ;suggest minimun distance no.of movies

In [27]:
indexes

array([[   0, 1327,  107, 1563,  560]], dtype=int64)

In [30]:
indexes[0][1:]   #skip searchin movies wich is at 0 index

array([1327,  107, 1563,  560], dtype=int64)

-->these are suggested movie

In [31]:
df.iloc[1327]['name']    #suggest movies at 1327 index

'Enakkul Oru Devathai'

or-----------

In [33]:
#all suggest movies
for i in indexes[0][1:]:
    print(df.iloc[i]['name'])

Enakkul Oru Devathai
Khakee
Vedam
Rikki-Tikki-Tavi

============>these are suggest movies for'neerja'

#NOW SUGGEST MOVIES BY INPUT MOVIES;==>

In [39]:
movie_name=input('enter movie name:').lower()

if movie_name in df.name.values:
    
    index=df[df.name==movie_name].index[0]
    
    distances,indexes=model.kneighbors([vectors[index]],n_neighbors=5)
    for i in indexes[0][1:]:
        print(df.iloc[i]['name'])
else:
    print('movie not found in database')

enter movie name: neerja

enakkul oru devathai
khakee
vedam
rikki-tikki-tavi

=====>these are suggested movies

 # OR------------------>

###NOW, Arrange movies recommandation system code =>

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

df=pd.read_csv("ML_Dataset/movies_content.csv")

df=df[['name','description']]

df.dropna(inplace=True)

df.drop_duplicates(inplace=True)

df.reset_index(drop=True,inplace=True)

df.name=df.name.map(str.lower)

tv=TfidfVectorizer(stop_words="english",lowercase=True)

vectors=tv.fit_transform(df.description).toarray()

model=NearestNeighbors(metric="cosine")

model.fit(vectors)

movie_name=input('enter movie name:').lower()
if movie_name in df.name.values:
    index=df[df.name==movie_name].index[0]
    distances,indexes=model.kneighbors([vectors[index]],n_neighbors=5)
    for i in indexes[0][1:]:
        print(df.iloc[i]['name'])
else:
    print('movie not found in database')

In [ ]:
#NOTE;you can work at netflix data
_____